<% content_for :title, "Nouvelle candidature" %>

<div class='new-job-application-wrapper user-form container'>
  <h2>Nouvelle candidature pour "<%= @offer.title %>"</h2>

  <div class='new-job-application-para'>
    <p>Vous pouvez lier une nouvelle candidature à votre offre "<%= @offer.title %>".</p>
    <p>Cette candidature sera ensuite analysée pour une potentielle compatibilité avec la fiche de poste.</p>
  </div>

  <%= simple_form_for [@offer, @application] do |f| %>
    <div class='form-inputs'>
      <% if @application.errors.any? %>
        <%= f.error_notification %>
        <ul>
          <% @application.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class='limited-chars-input' data-controller='chars-count' data-chars-count-min-value=1 data-chars-count-max-value=100>
        <%= f.input :applicant_name, input_html: { 'data-action': 'input->chars-count#countChars', 'data-chars-count-target': 'input' } %>
        <small data-chars-count-target='charLine'>Compte de caractères : <span data-chars-count-target='charCount'></span>/100<span data-chars-count-target='charCountExplanation'></span></small>
      </div>

      <div class='limited-chars-input' data-controller='chars-count' data-chars-count-min-value=100 data-chars-count-max-value=3500>
        <%= f.input :content, input_html: { 'data-action': 'input->chars-count#countChars', 'data-chars-count-target': 'input' } %>
        <small data-chars-count-target='charLine'>Compte de caractères : <span data-chars-count-target='charCount'></span>/3500<span data-chars-count-target='charCountExplanation'></span></small>
      </div>
    </div>

    <%= f.button :submit, 'Enregistrer', class: 'button' %>
  <% end %>

  <div class='misc-links'>
    <%= link_to "Page précédente", :back %>
  </div>
</div>
