<div class='new-job-application-wrapper user-form container'>
  <h2>Nouvelle candidature pour "<%= @offer.title %>"</h2>

  <div class='new-job-application-para'>
    <p>Vous pouvez lier une nouvelle candidature à votre offre "<%= @offer.title %>".</p>
    <p>Cette candidature sera ensuite analysée pour une potentielle compatibilité avec la fiche de poste.</p>
  </div>

  <%= simple_form_for [@offer, @application] do |f| %>
    <div class='form-inputs'>
      <% if @application.errors.any? %>
        <%= f.error_notification %>
        <ul>
          <% @application.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.input :applicant_name %>
      <%= f.input :content %>
    </div>

    <%= f.button :submit, 'Enregistrer', class: 'button' %>
  <% end %>

  <div class='misc-links'>
    <%= link_to "Page précédente", :back %>
  </div>
</div>
