<div class='new-job-application-wrapper user-form container'>
  <h2>Nouvelle candidature pour "<%= @offer.title %>"</h2>

  <div class='new-job-application-para'>
    <p>Vous pouvez lier une nouvelle candidature à votre offre "<%= @offer.title %>".</p>
    <p>Cette candidature sera ensuite analysée pour une potentielle compatibilité avec la fiche de poste.</p>
  </div>

  <%= simple_form_for [@offer, @application] do |f| %>
    <div class='form-inputs'>
      <%= f.input :applicant_name, label: "Nom du candidat" %>
      <%= f.input :content, label: "Lettre de motivation" %>
    </div>
    <%= f.button :submit, 'Enregistrer', class: 'button' %>
  <% end %>

  <%= link_to "Page précédente", :back %>
</div>
