<div class='application-show-wrapper container'>
  <h2>Candidature de <%= @application.applicant_name %></h2>

  <%= link_to "Retour à l'offre", :back, class: 'button back-to-offer' %>

  <div class='offer-and-application-contents'>
    <p class='application-show-offer-content'><%= @offer.content %></p>
    <p class='application-show-application-content'><%= @application.content %></p>
  </div>

  <div class='application-show-analysis-section'>
    <h2 class='application-show-analysis-title'>Opinion sur le candidat</h2>
    <p class='application-show-analysis-content'><%= @application.analysis %></p>
  </div>
</div>
