<div class='new-offer-wrapper user-form container'>
  <h2 class='new-offer-title'>Enregistrer une nouvelle offre</h2>

  <div class='new-offer-para'>
    <p>Vous pouvez enregistrez plusieurs offres d'emploi différentes dans votre profil afin de comparer des lettres de motivation à ces offres.</p>
    <p>Copiez le contenu de votre offre ci-dessous. Si vous avez déjà des offres enregistrées, vous pouvez les consulter dans le panneau "Mes offres" accessible depuis la barre de navigation.</p>
  </div>

  <%= simple_form_for @offer do |f| %>
    <div class='form-inputs'>
      <% if @offer.errors.any? %>
        <%= f.error_notification %>
        <ul>
          <% @offer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class='limited-chars-input' data-controller='chars-count' data-chars-count-min-value=1 data-chars-count-max-value=100>
        <%= f.input :title, input_html: { 'data-action': 'input->chars-count#countChars', 'data-chars-count-target': 'input' } %>
        <small data-chars-count-target='charLine'>Compte de caractères : <span data-chars-count-target='charCount'></span>/100<span data-chars-count-target='charCountExplanation'></span></small>
      </div>

      <div class='limited-chars-input' data-controller='chars-count' data-chars-count-min-value=1000 data-chars-count-max-value=5500>
        <%= f.input :content, input_html: { 'data-action': 'input->chars-count#countChars', 'data-chars-count-target': 'input' } %>
        <small data-chars-count-target='charLine'>Compte de caractères : <span data-chars-count-target='charCount'></span>/5500<span data-chars-count-target='charCountExplanation'></span></small>
      </div>
    </div>

    <%= f.button :submit, 'Enregistrer', class: 'button' %>
  <% end %>

  <div class='misc-links'>
    <%= link_to "Page précédente", :back %>
  </div>
</div>
