<div class='new-offer-wrapper user-form container'>
  <h2 class='new-offer-title'>Enregistrer une nouvelle offre</h2>

  <div class='new-offer-para'>
    <p>Vous pouvez enregistrez plusieurs offres d'emploi différentes dans votre profil afin de comparer des lettres de motivation à ces offres.</p>
    <p>Copiez le contenu de votre offre ci-dessous. Si vous avez déjà des offres enregistrées, vous pouvez les consulter dans le panneau "Mes offres" accessible depuis la barre de navigation.</p>
  </div>

  <%= simple_form_for @offer do |f| %>
  <div class='form-inputs'>
    <%= f.input :title, label: 'Intitulé du poste', error: "L'intitulé est requis." %>
    <%= f.input :content, label:'Fiche de poste', error: "La fiche de poste est requise et ne peut pas dépasser 4000 caractères.", input_html: { maxlength: 4000 } %>
  </div>
    <%= f.button :submit, 'Enregistrer', class: 'button' %>
  <% end %>

  <%= link_to "Page précédente", :back %>
</div>
