<div class='new-offer-wrapper user-form container'>
  <h2 class='new-offer-title'>Enregistrer une nouvelle offre</h2>

  <div class='new-offer-para'>
    <p>Vous pouvez enregistrez plusieurs offres d'emploi différentes dans votre profil afin de comparer des lettres de motivation à ces offres.</p>
    <p>Copiez le contenu de votre offre ci-dessous. Si vous avez déjà des offres enregistrées, vous pouvez les consulter dans le panneau "Mes offres" accessible depuis la barre de navigation.</p>
  </div>

  <%= simple_form_for @offer do |f| %>
    <div class='form-inputs'>
      <% if @offer.errors.any? %>
        <%= f.error_notification %>
        <ul>
          <% @offer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.input :title %>
      <%= f.input :content, input_html: { maxlength: 5500 } %>
    </div>

    <%= f.button :submit, 'Enregistrer', class: 'button' %>
  <% end %>

  <div class='misc-links'>
    <%= link_to "Page précédente", :back %>
  </div>
</div>
